/* set background color and font for all pages*/
body {
  background-color: #FDF3E7;
  font-family: 'Open Sans', sans-serif;
}

/* set bg image styling to cover entire home page */
.bg_image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*set navbar edges to be square*/
.navbar {
  border-radius: 0;
}
/* set navbar li dropdown cursors to pointer on hover */
.navbar-inverse .navbar-nav>li>a:hover {
  cursor: pointer;
}

/* set styles on flash alerts. these will override the default success bootstrap styling  */
.alert-success,
.alert-danger {
  position: absolute;
  padding: 0; /* remove padding so message lines up with other content on the left */
  margin-top: 100px;
  font-size: 20px; /* increase font size for p tag */
  background: #FDF3E7; /* same background color as page */
  border: none;
}

/* set styles on login fail */
.login_fail {
  position: absolute;
  padding: 0; /* remove padding so message lines up with other content on the left */
  margin-top: 60vh;
  margin-left: 32vw;
  font-size: 20px; /* increase font size for p tag */
  background: #FDF3E7; /* same background color as page */
  border: none;
}

/* set styles for logout message */
.logout {
  position: absolute;
  padding: 0; /* remove padding so message lines up with other content on the left */
  margin-top: 60vh;
  margin-left: 34vw;
  font-size: 20px; /* increase font size for p tag */
  background: #FDF3E7; /* same background color as page */
  border: none;
}

/* set top margin on page h1's */
h1.text-center {
  margin-top: 15vh;
}

/* set style on post timestamp */
.post_date {
  display: block;
  margin: 4px 0; /* margin on top and bottom only */
  /*padding shorthand is top right bottom left*/
  padding: 4px 0 4px 10px; /* set padding on top, left, and bottom only */
  background: #7E8F7C;
  color: #FDF3E7;
  border-radius: 10px;
}

 /* set style for hr's */
.horizontal {
  border-top: 1px solid #C63D0F;
}

/* set style for comment section hr */
.comments_hr {
  border-top: 1px solid #C63D0F;
  margin-top: 60px;
}

/* set style for hr in create post page */
.horizontal.form {
  /*width: 35%*/ /* set this the same width as the create post form */
}

/* set view post button styling */
.view_post {
  /* box shadow shows underneath the element. horizontal offset, vertical offset, blur, color */
  box-shadow: 2px 2px 2px #c63d0f;
  border: none;
}

/* set back to posts button styling */
.back_to_posts {
  /* box shadow shows underneath the element. horizontal offset, vertical offset, blur size/intensity, color */
  box-shadow: 2px 2px 2px #c63d0f;
  border: none;
  /* add half as much top margin as the containing div */
  margin-top: 7.5px;
  /* have button take up all div width */
  display: block;
}

/* set styling for back_button. used this one for viewing a specific post, where this button needs to be inline with the other buttons on this page */
.back_button {
  /* box shadow shows underneath the element. horizontal offset, vertical offset, blur size/intensity, color */
  box-shadow: 2px 2px 2px #c63d0f;
  border: none;
  margin-top: 20px;
}

/* set styles for the back button on categories index */
.back_to_categorized_posts {
  /* box shadow shows underneath the element. horizontal offset, vertical offset, blur size/intensity, color */
  box-shadow: 2px 2px 2px #c63d0f;
  border: none;
  /* size this button to be the same as the li's */
  width: 50%;
}

/* styles for add comment button */
.comment_button {
  /* box shadow shows underneath the element. horizontal offset, vertical offset, blur size/intensity, color */
  box-shadow: 2px 2px 2px #c63d0f;
  border: none;
  width: 50%; /* set width of button to be the same as comment fields*/
  font-weight: bold;
}

/* style comment wells padding */
.well {
  padding: 13px 19px 3px 19px;
  border: 1px solid #7ccf84;
}

/* styles for add comment form */
.add_comment_form {
  margin-bottom: 20px;
  padding: 20px;
  text-align: center; /* center input button. will use this as a reference to center the input fields for comments */
}

/* set styles for comment fields */
.comment_field {
  width: 50%;
  margin-left: 20.2vw; /* center the form on the page */
}

/* comment body */
.comment_body {
  margin-bottom: 20px;
}

/* set styles for delete post button on view post page */
.delete_form {
  margin-top: -32px;
}

/* set styles on edit post button on view post page */
.edit_post {
  margin-left: 10px;
  /* box shadow shows underneath the element. horizontal offset, vertical offset, blur size/intensity, color */
  box-shadow: 2px 2px 2px #c63d0f;
  border: none;
  margin-top: 20px;
}

/* set box-shadow behavior when a button is clicked. Buttons are active when they are clicked, and hover was taken care of with previous css that set the box-shadow. when the button is clicked, it generates its own shadow, overriding the one I set up. this css forces the same shadow when the button is clicked */
.btn.btn-primary:active {
    box-shadow: 2px 2px 2px #c63d0f;
 }

/* set styles for create, edit post forms */
.post_form,
.edit_form,
.register_form {
  /* set padding */
  padding: 30px;
}

/* set styles for form_container div */
.form-container {
  background: #0fc6c6;
  /* set blurred shadow all around create post form: horizontal-offset 0, vertical offset 0, blur size/intensity, color */
  box-shadow: 0 0 10px #c63d0f;
  border-radius: 3px;
  width: 60%;
  margin-left: 17vw; /* center the form on the page */
  margin-top: 30px; /* add space between h1 page title and the form */
}

/* set styles for registration form div */
.registration {
  background: #0fc6c6;
  /* set blurred shadow all around create post form: horizontal-offset 0, vertical offset 0, blur size/intensity, color */
  box-shadow: 0 0 10px #c63d0f;
  border-radius: 3px;
  width: 40%; /* smaller width for this form */
  margin-left: 25vw; /* center the form on the page */
  margin-top: 30px; /* add space between h1 page title and the form */
}

/* set styles for category form div */
.category_form {
  background: #0fc6c6;
  /* set blurred shadow all around create post form: horizontal-offset 0, vertical offset 0, blur size/intensity, color */
  box-shadow: 0 0 10px #c63d0f;
  border-radius: 3px;
  width: 60%;
  margin-left: 17vw; /* center the form on the page */
  margin-top: 30px; /* add space between h1 page title and the form */
}

/* set styles for login form */
.login {
  padding: 30px;
  margin-left: 19vw; /* center the login form on the page */
}

/* set styles for add post glyphicon */
.glyphicon {
  color: #fff;
  padding: 2px;
}

/* set button color for create post form */
.btn-block {
  background: #c63d0f;
  border: none;
  font-weight: bold;
}

/* set border color of focused input fields */
.form-control:focus {
  border: 1px solid #c63d0f;
}

/* set button color on focus for create post form */
/* to override a bootstrap color for a button, conside all states of that button. the button itself, when it's not being interacted with in any way is just the button class. but then all other combinations such as active, focus, hover, and when clicked, it's active AND focus at the same time. the css must reflect that */
.btn-success,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.btn-success:active:focus {
 background: #c63d0f;
 box-shadow: 2px 2px 2px #c63d0f;
}

/* style error list items on create post form */
ul.error_list {
  list-style: none;
  text-align: center;
  margin-top: 20px;
  /*margin-right: 6.7%;*/
  font-size: 30px;
}

/* set image upload post size to match its container div size */
.post_image {
  width: 100%;
}

/* set styles for list group ul */
.list-group {
  width: 50%;
  text-align: center;
  /* ghetto way to align the entire list to the center of the screen. this also aligns with the back to posts by category button */
  margin-left: 20.9vw;
}

/* adjust styles for category list items */
.list-group-item {
  /* creates space between each list item */
  margin-bottom: 5px;
  /* remove padding for all list items. this is done as one step in making the entire li clickable. the next steps are to give the padding to the anchor tags themselves, thereby making them the same size as before */
  padding: 0;
}

/* set background color for list group items on hover */
.list-group-item:hover {
  background: #7ccf84;
}

/* style anchor tags instead of list-group-item so that most of each li is clickable */
/* main issue here is the padding interferes with the alignment of the words. as soon as it's good for one li, it's too much for another one and pushes the words to the right */
li.list-group-item>a {
  display: block;
  padding: 10px 15px;
}

/* style validation error margins */
.error_list {
  margin-bottom: 5px;
}

/* set margin for pagination div. this contains the pagination links */
.pagination {
  /* top/bottom margin only */
  margin: 20px 0;
}

/* set styles for the pagination links */
a.pagination_links {
  padding: 8px 13px;
  margin: 5px;
  background: #f4f4f4;
  border: 1px solid #337ab7;
  border-radius: 4px;
  font-weight: bold;
}

/* set styles for current page link */
.pagination strong {
  padding: 8px 13px;
  margin: 5px;
  background: #f4f4f4;
  border: 1px solid #337ab7;
  border-radius: 4px;
  font-weight: bold;
}
